body {
    /* background-color: rgba(0,183,255, 1); */
    background-image: url("https://cdn.discordapp.com/attachments/827406361696403471/828255428504322109/brady-corps-ellyLSXQ5wg-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}